@import "global.css";
@import "plugins/slider.css";
@import "../node_modules/prismjs/themes/prism.css";

.slides {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
}

.slide {
	margin-bottom: 50px;

	font-size: 1.5em;

	color: #184C70;
}

.slide--title {
	background-color: #184C70;
	color: white;
}

.slide--title-image {
	background-color: #184C70;
}

.slide--title-image img {
	width: 75%;
}

.slide--text, .slide--code {
	height: 60%;
}

.slide--code h1 {
	margin-bottom: 1em;
}

.slide pre {
	display: inline-block;

	font-size: 1rem;
}

.slide ul {
	text-align: left;
}

h1 {
	margin-top: 0;
	margin-bottom: 0.3em;
	font-size: 2em;
}

p {
	margin: 0;
}

.twitter-tweet {
	margin: 3em 0 !important;
}