@import "global.css";
@import "plugins/slider.css";
@import "../../node_modules/prismjs/themes/prism.css";

.slides {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
}

.slide {
	height: 60%;
	margin-bottom: 50px;

	font-size: 1.5em;

	color: #184C70;
}

.slide:not(.slide--title) h1 {
	margin-bottom: 1em;
}

.slide--title {
	height: auto;

	background-color: #184C70;
	color: white;
}

.slide img {
	height: 300px;
}

.slide pre {
	font-size: 1rem;
}

.slide pre + pre {
	display: inline-block;
}

.slide ul {
	text-align: left;
}

.slide a {
	color: inherit;
}

.slide a:hover {
	text-decoration: none;
}

h1 {
	margin-top: 0;
	margin-bottom: 0.3em;
	font-size: 2em;
}

p {
	margin: 0;
}

.twitter-tweet {
	margin: 3em 0 !important;
}

span.emoji {
	font-weight: 400;
}